$primaryColor: #253746; 
$secondaryColor: #667E93;
$thirdColor: #6A687A;
$fontColor: #ECF0F1;

$defaultFont: 'Open Sans', sans-serif;
$lightWeight:300;
$normalWeight:500;
$boldWeight: 700;

$gutter: 16px;
