/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $defaultFont;
  font-weight: $normalWeight;
  color: $thirdColor;
  background-color: $fontColor;
}

#headerWrapper {
  background-color: $thirdColor;
  color: $fontColor; 
}
header {
  display: flex;
  align-items: flex-end;
  padding: 1rem $gutter;
  gap: 8px;
  h1 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: $normalWeight;
  }
}

h3 {
  font-weight: $boldWeight;
  font-size: 1.5rem;
  margin-left: 1.2rem;
  margin-bottom: 0;

}

#navWrapper {
  background-color: $primaryColor;
  color: $fontColor;
}

nav {
  button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    padding: .5rem;
    color: white;
  }

  button span:nth-child(1){
    display: block;
  }
  button span:nth-child(2){
    display: none;
  }
  button.open span:nth-child(1) {
    display: none;
  }
  button.open span:nth-child(2) {
    display: block;
  }
      ul{
        text-decoration: none;
        display: none;
        padding: .5rem 2vw;
      }
      ul.open {
        display: block;
      }
      ul li {
        border-bottom: solid 1px white;
      }

      li.active {
        background-color: darken($primaryColor, 15%);
        width: 100%;
    
      }
      a {
        display: block;
        padding: 1rem 2vw;
        color: $fontColor;
        text-decoration: none;
    
        &:hover {
          background-color: lighten($primaryColor, 15%);
        }
      }
    

  } //end of nav



// main stuff

div.parentHero {
  position: relative;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
  p{
    position: absolute;
    top: calc(75% - 35px);
    right: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    color: white;
    font-weight: $boldWeight;
    background-color: rgb(0, 0, 0, .5);
    font-size: 2rem;
    margin: 0;
  }
}

h5 {
  font-size: 1rem;
  font-weight: $normalWeight;
}

//cards
div.allcards {
  padding: 0 $gutter;
  section {
    border: .1rem solid $thirdColor;
    border-radius: 10px;
    box-shadow: 5px 10px #888888;
    overflow: hidden;
    margin: 1rem 0;
        
        svg {
          margin: auto;
          margin-top: 1rem;
          display: block;
          position: relative;
        }

    h2, p, img {
      margin: 0;
      padding: 1rem $gutter;
    }
    h2 {
      background-color: $secondaryColor;
      font-size: 1.5rem;
      color: $fontColor;
      text-align: center;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
    }
    p {
      font-style: italic;
    }
    a {
      display: block;
      background-color: $thirdColor;
      padding: .75rem;
      text-align: center;
      margin: 0 3rem 1rem 3rem;
      border-radius: 8px;
      color: $fontColor;
      text-decoration: none;
    }

  }
  }

  //animations
.spin:hover svg{animation: myPulse 1s 1;}
.pulse:hover svg{animation: mySpin 1s 1;}

//bounce
  @keyframes myBounce {
    0% {bottom: 0px; animation-timing-function: ease-out;}
    25% {bottom: 15px; animation-timing-function: ease-in;}
    50% {bottom: 0px; animation-timing-function: ease-out;}
    75% {bottom: 7px; animation-timing-function: ease-in;}
    100% {bottom: 0px; animation-timing-function: ease-out;}
  }

// spin
@keyframes mySpin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

//pulse
@keyframes myPulse {
    0% {transform: scale(1.0);}
    25% {transform: scale(1.5);}
    50% {transform: scale(.75);}
    75% {transform: scale(1.25);}
    100% {transform: scale(1.0);}

}

div#cards {
  display: block;
  section {
    //having sections display next to each other
    display: inline-block;
    width: 50%;
    height: auto;
    padding: 1rem;
    height: 100%;
  }

  img {
    width: 20px;
    height: auto;
    
  
  }


}


// begin the footer
#footerWrapper {
  background-color: $secondaryColor;
}
footer {
  padding: 1rem $gutter;
  color: #001B2E;
  text-decoration: none;

    section.contact {
      p {
        font-size: 1.2rem;
        margin: .5rem;
      }
      ion-icon {
        color: $fontColor;
        padding-right: 5px;
        color: #001B2E;
      }
      a {
        text-decoration: none;
        color: #001B2E;
        &:hover {
          color: white;
        }
      }
    }
   //end of contact
section.social {
  display: flex;
  justify-content: center;
    a {
      display: block;
      font-size: 2rem;
      margin: .5rem;
      padding: .5rem;
      color: #001B2E;
      &:hover {
        color: white;
      }
    }

} //end of social
section.location {
  font-size: 1rem;
  margin-top: 0px;
} // end of location

  p.legal {
    margin: 0;
    text-align: center;
    color: #001B2E;
    background-color: $secondaryColor;
  }
}