header, nav, main, footer {
  max-width: 60rem;
  margin: auto;
}

nav {
  display: flex;
  justify-content: right;
  button {
    display: none;
  }
  ul {
    display: flex;
    border: none;
  }
  ul.open {
    display: flex;
  }
  ul li {
    border: none;
  }

}

// main stuff
section {
  grid-template-columns: 1fr 1fr 1fr;
}