/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $defaultFont;
  font-weight: $normalWeight;
  color: $thirdColor;
  background-color: $fontColor;
}

#headerWrapper {
  background-color: $thirdColor;
  color: $fontColor; 
}
header {
  display: flex;
  align-items: flex-end;
  padding: 1rem $gutter;
  gap: 8px;
  h1 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: $normalWeight;
  }
}

h3 {
  font-weight: $boldWeight;
  font-size: 1.5rem;
  margin-left: 1.2rem;
  margin-bottom: 0;

}

#navWrapper {
  background-color: $primaryColor;
  color: $fontColor;
}

nav {
  button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    padding: .5rem;
    color: white;
  }
      ul{
        text-decoration: none;
        display: none;
        padding: .5rem 2vw;
      }
      ul.open {
        display: block;
      }
      ul li {
        border-bottom: solid 1px white;
      }

      li.active {
        background-color: $secondaryColor;
        color: $thirdColor;
        width: 100%;
    
      }
      a {
        display: block;
        padding: 1rem 2vw;
        color: $fontColor;
        text-decoration: none;
    
        &:hover {
          background-color: lighten($primaryColor, 15%);
        }
      }
    

  } //end of nav



// main stuff

div.allcards {
  padding: 0 $gutter;
  section {
    border: .2rem solid $thirdColor;
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
    h2, p, img {
      margin: 0;
      padding: 1rem $gutter;
    }
    h2 {
      background-color: $secondaryColor;
      font-size: 1.5rem;
      color: $fontColor;
      text-align: center;
    }
    img {
      width: 100%;
      height: auto;
      display: block;
    }
    p {
      font-style: italic;
    }
    a {
      display: block;
      background-color: $thirdColor;
      padding: .75rem;
      text-align: center;
      margin: 0 3rem 1rem 3rem;
      border-radius: 8px;
      color: $fontColor;
      text-decoration: none;
    }
  }
}// end of allcards


// begin the footer
#footerWrapper {
  background-color: $secondaryColor;
}
footer {
  padding: 1rem $gutter;
  color: white;

  section {}

    section.contact {
      p {
        font-size: 1.2rem;
        margin: .5rem;
      }
      ion-icon {
        color: $fontColor;
        padding-right: 5px;
      }
    }
   //end of contact
section.social {
  display: flex;
  justify-content: center;
    a {
      display: block;
      font-size: 2rem;
      margin: .5rem;
      padding: .5rem;
      color: white;
      &:hover {
        background-color: $thirdColor;
      }
    }

} //end of social
section.location {
  font-size: 1.5rem;
} // end of location

  p.legal {
    margin: 0;
    font-weight: $lightWeight;
    text-align: center;
    color: $fontColor;
    background-color: $secondaryColor;
  }
}