/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $defaultFont;
  font-weight: $normalWeight;
  color: $thirdColor;
  background-color: $fontColor;
}

#headerWrapper {
  background-color: $thirdColor;
  color: $fontColor; 
}
header {
  display: flex;
  align-items: flex-end;
  padding: 1rem $gutter;
  gap: 8px;
  h1 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: $normalWeight;
  }
}

h3 {
  font-weight: $boldWeight;
  font-size: 1.5rem;
  margin-left: 1.2rem;
  margin-bottom: 0;

}

#navWrapper {
  background-color: $primaryColor;
}

nav {
  button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    padding: .5rem;
    color: white;
  }
      ul{
        text-decoration: none;
        display: none;
        padding: .5rem 2vw;
        border-top: solid 1px white;
      }
      ul.open {
        display: block;
      }
      ul li {
        border-bottom: solid 1px white;
      }

  }
  li.active {
    background-color: lighten($primaryColor, 40%);
    color: $primaryColor;
    width: 100%;

  }
  a {
    display: block;
    padding: 1rem 2vw;
    color: $fontColor;
    text-decoration: none;

    &:hover {
      background-color: lighten($primaryColor, 15%);
      color: $primaryColor;
    }
  }



// main stuff
section {
  display: grid;
  grid-template-columns: 1fr;
}
section div {
  width: 100%;
  padding: 1rem $gutter;
  img {
    width: 100%;
    height: auto;
  }
}

h2 {
  text-align: center;
  margin-bottom: 0px;
  background-color: $secondaryColor;
  padding: .5rem;
  color: $fontColor;
  border-radius: 15px 15px 0 0;
}

p {
  color: $fontColor;
  background-color: $primaryColor;
  padding: .6rem;
  text-align: center;
  margin: 0;
  font-weight: $lightWeight;
}

.hero img {
  width: 100%;
  height: auto;
}

video {
  width: 90%;
  margin-left: 5%;
}

details {
  margin: .5rem $gutter;
  padding: 1rem;
  summary {
    background-color: $secondaryColor;
    color: $fontColor;
    padding: 2rem;
  }
}

// begin the footer
#footerWrapper {
  background-color: $secondaryColor;
}
footer {
  padding: 1rem $gutter;
  p {
    margin: 0;
    font-weight: $lightWeight;
    text-align: center;
    color: $fontColor;
    background-color: $secondaryColor;
  }
}