/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $defaultFont;
  font-weight: $normalWeight;
  color: black;
  background-color: white;
}

#navWrapper {
  background-color: white;
  position: sticky;
  top: 0;
}

nav {
      ul{
        text-decoration: none;
        padding: .5rem 2vw;
        display: flex;
        justify-content: space-between;
        list-style-type: none;
        
      
      a {
        display: block;
        text-decoration: none;
        padding: .75rem;
        color: black;

          img {
            width: 25px;
            height: auto;
          }
          span {
            display: none;
          }

        &.active {
          background-color: $blue;
        }
        &:hover {
          background-color: $pink;
        }
      }
      }
    

  } //end of nav
#hero {
    height: 100vh;
    text-align: center;
    padding: 4rem;
    //center the text vertically
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $pink;
    text-align: left;
      h1 {
        font-size: 3rem;
        font-weight: $boldWeight;
        margin: .2rem;
      }
      p {
        font-size: 1.5rem;
        font-weight: $normalWeight;
        margin: .2rem;
      }
  }

section {
  height: 100vh;
  color: white;
  padding: 1rem;
}

#about {
  background-color: $pink;
}

#edu {
  background-color: $green;
  img {
    width: 90%;
    height: auto;
    margin: 1rem;
  }
    div.card {
      border: 3px solid white;
      border-radius: 5px;
      box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
      margin-bottom: 2rem;
      text-align: center;
      height: 220px;
      h2 {
        font-size: 1.5rem;
        font-weight: $boldWeight;
        margin: 0;
        padding: .5rem;
        background-color: white;
        color: $green;
      }
      p {
        font-size: 1rem;
        font-weight: $normalWeight;
        margin: 0;
        padding: .6rem;
      }
  
    
    }
}
#goals {
  background-color: $brown;
  height: auto;
  div.card {
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    margin-bottom: 2rem;
    margin-left: 1rem;
    text-align: left;
    height: auto;
    h2 {
      font-size: 1.5rem;
      font-weight: $boldWeight;
      margin: 0;
      padding: .5rem;
      background-color: white;
      color: $brown;
      text-align: center;
    }
    p {
      font-size: 1rem;
      font-weight: $normalWeight;
      margin: 0;
      padding: 1rem;
    }
    button {
      border-radius: 5px;
      background-color: white;
      color: $brown;
      padding: .5rem 1rem;
      font-weight: $boldWeight;
      //center the button in the card
      margin-left: 20%;
      margin-bottom: 1rem;
      width: 50%;
      
        a {
          text-decoration: none;
          color: $brown;
        }

    }
  }
}

#work {
  background-color: $pink;
  height: auto;
  div.card {
    border: 3px solid white;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    margin-bottom: 2rem;
    text-align: left;
    height: auto;
    h2 {
      font-size: 1.5rem;
      font-weight: $boldWeight;
      margin: 0;
      padding: .5rem;
      background-color: white;
      color: $pink;
      text-align: center;
    }
    p {
      font-size: 1rem;
      font-weight: $normalWeight;
      margin: 0;
      padding: 1rem;
    }
    img {
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 100%;
    }
    button {
      border-radius: 5px;
      background-color: white;
      color: $pink;
      padding: .5rem 1rem;
      font-weight: $boldWeight;
      //center the button in the card
      margin-left: auto;
      margin-right: auto;
      display: block;
      margin-top: 1rem;
      width: 50%;
      
        a {
          text-decoration: none;
          color: $pink;
        }

    }
  }
}
#contact {
  background-color: $blue;
  height: auto;
    form {
      display: flex;
      flex-direction: column;
      align-items: stretch;

      label {
        margin-top: 1rem;
      }

      input, textarea {
        margin-top: 0.5rem;
        margin-bottom: 1.5rem;
        padding: 0.5rem;
        border: 1px solid #ccc;
        background-color: lighten($blue, 15%);
        border-radius: 4px;
        font-size: 1rem;
        width: 100%; // Full width on mobile
      }

      textarea {
        padding: 2rem;
      }

      button {
        margin-top: 1rem;
        padding: 1.5rem;
        background-color: darken($blue, 15%);
        border: 1px solid #ccc;
        border-radius: 15px;
        color: white;
        text-align: center;
        font-size: 2rem;
        text-decoration: none;
        display: inline-block;
        font-size: 1rem;
        transition-duration: 0.4s;
        cursor: pointer;
      }

      button:hover {
        background-color: #45a049;
      }
    }
  }

div.social {
  img {
    width: 50px;
    height: auto;
  }
}


#footerWrapper {
  background-color: $brown;
}
footer {
  padding: 1rem $gutter;
  color: white;
  text-decoration: none;
  text-align: center;
}