$pink: #49318C; 
$red: #801927;
$blue: #04AAD2;
$green: #045061;
$brown: #803820;
$fontColor: black;

$defaultFont: 'Open Sans', sans-serif;
$lightWeight:300;
$normalWeight:500;
$boldWeight: 700;

$gutter: 16px;
