header, nav, main, footer {
  max-width: 60rem;
  margin: auto;
}

// main stuff
section {
  grid-template-columns: 1fr 1fr 1fr;
}

#hamburgerBtn {
  display: none;
}
nav {
  position: static;
  transform: translateX(0);
  width: 100%;
  div {display: none;}
  ul {
    display: flex;
    border-left: 1px solid rgba(0,0,0,0.2);
  }
  ul li a {
    border: none;
    border-right: 1px solid rgba(0,0,0,0.2);
    padding: .6rem 1.5rem;
  }
}

//edit cards to be two columns
#cards {
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  section {
    height: auto;
    width: 100%;
  }
  img {
    width: 50%;
    height: auto;
    float: left;
  }
  h2 {
    margin: .2rem;
    margin-top: 1rem;
  }
  p {
    margin: 0;
  }
  a {
    display: block;
    text-decoration: none;
    width: 40%;
    text-align: center;
    margin: auto;
    margin-right: 25px;
    margin-bottom: 1rem;
    //move a tag to the right of the image
    float: right;

  }
}