/* Prevent adjustments of font size after orientation changes.  */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  height: 100%;
}

/*---- apply a natural box layout model to all elements -------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: $defaultFont;
  font-weight: $normalWeight;
  color: $thirdColor;
  background-color: $fontColor;
}

#headerWrapper {
  background-color: $primaryColor;
  color: $fontColor; 
}

#pageWrapper {
  position: relative;
  overflow-x: hidden;
}

.moveOver >.content {
  transform: translateX(-180px);
}
.content {
  transition: transform 500ms ease;

}


header {
  display: grid;
  grid-template-columns: 51px auto 48px;
  align-items: center;
  padding: .5rem 2vw;
  h1 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: $normalWeight;
  }
  button {
    width: 48px;
    height: 48px;
    margin: 0;
    align-self: start;
    background: none;
    border: none;
    font-size: 1rem;
    text-align: right;
    color: $fontColor;
  }
}

h3 {
  font-weight: $boldWeight;
  font-size: 1.5rem;
  margin-left: 1.2rem;
  margin-bottom: 0;

}

#navWrapper {
  background-color: $fontColor;
}

nav {
  background-color: $fontColor;
  width: 180px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  display: block;
  text-align: left;
  
  
  
  div {
    display: block;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.1rem;
    background-color: $fontColor;
    color: $primaryColor;
    font-weight: $boldWeight;
    text-decoration: none;
    
  }
  ul {
    list-style-type: none; 
    padding: 0;


  }
      ul li a{
        display: block;
        padding: .9rem .5rem;
        border-bottom: 1px rgba(0,0,0,0.25) solid;
        color: $primaryColor;
        text-align: left;
        text-decoration: none;
        margin-left: 0;

      }
      ul li a:hover{
        background-color: $primaryColor;
        color: $fontColor;
      }
      li.active a {
        color: $fontColor;
        background-color: $secondaryColor;
      }

  }


//style the cards on the home page
#cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 1rem $gutter;
  margin: 0 auto;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  color: #195932;

  section {
    background-color: #EFEFEF;
    border: 8px solid #195932;
    border-radius: 10px;
    text-align: center;
    height: 380px;
  }
  h2 {
    font-weight: $boldWeight;
    font-size: 1.5rem;
  }
  address {
    font-size: 1.1rem;
    margin: 1rem;
  }
  img {
    width: 100%;
    height: auto;
    //float image above text
    float: top;
  }
  a {
    text-decoration: none;
    color: #195932;
    font-weight: $boldWeight;
    font-size: 1.1rem;
    border: 3px solid #195932;
    margin: 2rem;
    margin-bottom: 0;
    padding-bottom: 0;
    padding: .5rem;
  }
  a:hover {
    background-color: #195932;
    color: #EFEFEF;
  }
}


// begin the footer
#footerWrapper {
  background-color: $secondaryColor;
}
footer {
  padding: 1rem $gutter;
  p {
    margin: 0;
    font-weight: $lightWeight;
    text-align: center;
    color: $fontColor;
    background-color: $secondaryColor;
  }
}