$primaryColor: #6A687A;
$secondaryColor: #083529;
$thirdColor: #be7c4d;
$fontColor: #EFEFEF;

$defaultFont: 'Open Sans', sans-serif;
$lightWeight:300;
$normalWeight:500;
$boldWeight: 700;

$gutter: 16px;
