header, main, footer {
  max-width: 60rem;
  margin: auto;
}

#primaryNav{
  display: flex;
  max-height: 65px;
  margin: 0;
}

ul.subnav{
  position: relative;
  z-index: 100;
}

button {
  display: none;
}

div.allcards {

  section {
    flex-basis: calc(25% - ($gutter));
  }
}

div.parent {
  section {
    grid-template-columns: 200px auto;
    column-gap: 8px;
  }
}


footer div {
  display: grid;
  grid-template-columns: auto auto auto;
}