@import "path/to/your/imported/file"; // Add missing import

header {
  padding: 2rem $gutter;
  h1 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) { // adjust the value as needed
  li:has(ul.subnav):hover > ul.subnav {
    display: flex;
    flex-direction: row; // This will make the items align horizontally
    justify-content: center; // This will center the items horizontally
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: red; // Replace #yourColor with the color you want
  }
}
// main stuff
  button {
    display: none;
  }

//end of nav
 

div.parent {
  section {
    display: grid;
  }
    padding: 10px;
}


div.allcards {
  display: flex;
  flex-wrap: wrap;
  gap: $gutter;

  section {
    flex-basis: calc(50% - ($gutter)/2);
  }
}

footer div {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}