$primaryColor: #6A3C25; 
$secondaryColor: #7286A0;
$thirdColor: #001B2E;
$fontColor: #ECF0F1;

$defaultFont: 'Open Sans', sans-serif;
$lightWeight:300;
$normalWeight:500;
$boldWeight: 700;

$gutter: 16px;
